# SPDX-License-Identifier: MIT
# Qualcomm SoC drivers
# Qualcomm AOSS Driver
CONFIG_QCOM_AOSS_QMP=y
# Qualcomm Command DB
CONFIG_QCOM_COMMAND_DB=y
# QCOM Core Power Reduction (CPR) support
CONFIG_QCOM_CPR=y
# QCOM GENI Serial Engine Driver
CONFIG_QCOM_GENI_SE=y
# Qualcomm Technologies, Inc. LLCC driver
CONFIG_QCOM_LLCC=m
# Qualcomm On Chip Memory (OCMEM) driver
CONFIG_QCOM_OCMEM=m
# Qualcomm PMIC GLINK driver
CONFIG_QCOM_PMIC_GLINK=m
# Qualcomm Remote Filesystem memory driver
CONFIG_QCOM_RMTFS_MEM=m
# Qualcomm RPM-Hardened (RPMH) Communication
CONFIG_QCOM_RPMH=y
# Qualcomm RPMh Power domain driver
CONFIG_QCOM_RPMHPD=y
# Qualcomm RPM Power domain driver
CONFIG_QCOM_RPMPD=y
# Qualcomm Shared Memory Manager (SMEM)
CONFIG_QCOM_SMEM=y
# Qualcomm Resource Power Manager (RPM) over SMD
CONFIG_QCOM_SMD_RPM=y
# Qualcomm Shared Memory Point to Point support
CONFIG_QCOM_SMP2P=y
# Qualcomm Shared Memory State Machine
CONFIG_QCOM_SMSM=y
# Qualcomm socinfo driver
CONFIG_QCOM_SOCINFO=m
# Qualcomm Subsystem Power Manager (SPM)
CONFIG_QCOM_SPM=m
# Qualcomm Technologies, Inc. (QTI) Sleep stats driver
CONFIG_QCOM_STATS=m
# Qualcomm WCNSS control driver
CONFIG_QCOM_WCNSS_CTRL=m
# Qualcomm APR/GPR Bus (Asynchronous/Generic Packet Router)
CONFIG_QCOM_APR=m
# QCOM Interconnect Bandwidth Monitor driver
CONFIG_QCOM_ICC_BWMON=m
